html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
     font-size: 1em; /* 1 */
    -webkit-text-size-adjust: 1em; /* 2 */
    -ms-text-size-adjust: 1em; /* 2 */
    color: #287480;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}


body {
	background: url(../images/bg-pattern.png);
}

h2 {
	font-size: 1.5em;
	margin: 1em 0;
}

h3 {
	font-size: 1.5em;
    color: #939393;
	margin: 1em 0;
}

.main {
	max-width: 640px;
	margin: 0 auto;
	background: #E4DBE3;
	padding: 0 1em 1em;
    position: relative;
}

.header {
	background: #287480;
	margin: 0 -1em 1em;
	padding: 0 1em;
}

.logo {
	background: url(../images/sonatask-logo.png) no-repeat;
	display: block;
	width: 200px;
	height: 60px;
}

input.add-item {
	width: 92%;
	padding: 1em;
    line-height: 100px;
	
    margin-bottom: 1em;
	border: none;
	/*border-bottom: 1px solid #000;*/
    
    
    height: 50px;
    float: left;
    font-size: 1em; /* 1 */
    -webkit-text-size-adjust: 1em; /* 2 */
    -ms-text-size-adjust: 1em; /* 2 */
    color: #287480;
    background: none;
    font-style: italic;
    border:  solid #939393 1px;
}

input[type="checkbox"] {
    width: 16px;
    height:16px;
    background: none;
    border-radius:4px;
    border:solid #287480 1px;
}

a.clear {
	width: 100%;
	text-align: center;
	display: block;
    
    
  
   
    text-decoration: none;
    color: #939393;
   
}


ul li{
    padding: 0.5em 0;

}

.add-container {
    overflow: auto;
}

.active ul li {
    font-style: italic;
}

.inactive ul li{
    color: #939393;
    text-decoration: line-through;
}

.add-btn{
    float: left;
    display: block;
    width: 8%;
    height: 50px;
    clear: right;
    
    background: url(../images/addplus.png) center center no-repeat #287480;
}

/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

.notification {
    max-width:640px;
    margin: 0 auto;
    background: #dad5c0;
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding:0 1em;
    position:absolute;
    right: 0px;
    top:0;
}
